.loading-box{
    width: 100%;
    height: 100%;
    line-height: 80vw;
    text-align: center;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1570768298097&di=241509b8441714ba623773dc8c8a4388&imgtype=0&src=http%3A%2F%2Fimg.ui.cn%2Fdata%2Ffile%2F2%2F4%2F3%2F1362342.gif%3FimageMogr2%2Fauto-orient%2Fstrip%2Fthumbnail%2F%2521900%253E) no-repeat;
    background-size: 50%;;
    background-position: top;
    margin-top: 30%;
    mix-blend-mode: multiply;
    font-size: .12rem;
    color: #757575;
}